.ui-widget-content.draggable-item {
  background: none transparent;
  border: 0 none;
  cursor: move;
  display: inline-block;
  margin: 0 0 0 5px;
  text-align: center;
  width: 60px;
  vertical-align: top;
}

.ui-widget-content.draggable-item p {
  color: #565656;
  display: block;
  font-size: 12px;
  margin: 0;
}

.draggable-item.ui-draggable-dragging {
  z-index: 10000;
}

.ui-widget-content.draggable-item::before {
  content: '';
  background-color: #fff;
  background-image: url("/images/electrical-sensor.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 85%;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.ui-widget-content.draggable-item.workloads-icon::before {
  background-image: url("/images/technology.svg");
}

.ui-widget-content.draggable-item.protocol-networks-icon::before {
  background-image: url("/images/protocol-networks-icon.svg");
}

.ui-widget-content.draggable-item.application-server-icon::before {
  background-image: url("/images/technology1.svg");
}

.ui-widget-content.draggable-item.sql-icon::before {
  background-image: url("/images/sql-icon.svg");
}

.ui-widget-content.draggable-item.range-icon::before {
  background-image: url("/images/range-icon.svg");
}

.ui-widget-content.draggable-item.kalman-icon::before {
  background-image: url("/images/kalman-icon.svg");
}

.ui-widget-content.draggable-item.lr-icon::before {
  background-image: url("/images/lr-icon.svg");
}

.ui-widget-content.draggable-item.decision-tree-icon::before {
  background-image: url("/images/decision-tree-icon.svg");
}

.ui-widget-content.draggable-item::before {
  border: 1px solid rgba(0, 0, 0, .05);
  margin: 0 auto;
  z-index: 1;
}

.base-droppable {
  height: 60px;
  width: 60px;
  display: inline-block;
}

.ui-droppable-hover.ui-droppable-active {
  opacity: 0.65;
}

.ui-droppable-hover.base-droppable.ui-droppable-active,
.ui-droppable.base-droppable.active {
  -webkit-box-shadow: 0 0 9px rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 9px rgba(0, 123, 255, 0.25);
}

.ui-droppable.base-droppable.active {
  cursor: pointer;
  position: relative;
  pointer-events: none;

  &::before {
    content: '× remove';
    display: block;
    font-size: 10px;
    text-transform: lowercase;
    width: 100%;
    position: absolute;
    top: -15px;
    text-align: center;
    font-weight: 400;
    display: none;
  }

  &:hover::before {
    text-decoration: underline;
  }

  .ui-widget-content.draggable-item {
    margin: 0;
  }

  .ui-widget-content.draggable-item p {
    display: none;
  }

  .ui-widget-content.draggable-item::before {
    width: 60px;
    height: 60px;
  }
}
