.ui-widget-content.draggable-item {
  background: none transparent;
  border: 0 none;
  cursor: move;
  display: inline-block;
  margin: 0 0 0 5px;
  text-align: center;
  width: 60px;
  vertical-align: top;
}

.ui-widget-content.draggable-item p {
  color: #565656;
  display: block;
  font-size: 12px;
  margin: 0;
}

.ui-widget-content.draggable-item::before,
.ui-droppable-hover.ui-droppable-active::before {
  content: '';
  background-color: #fff;
  background-image: url("/images/electrical-sensor.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 85%;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.ui-widget-content.draggable-item::before {
  border: 1px solid rgba(0,0,0,.05);
  margin: 0 auto;
  z-index: 1;
}

.base {
  height: 60px;
  width: 60px;
  display: inline-block;
}

.ui-droppable-hover.ui-droppable-active {
  opacity: 0.65;
}

.ui-droppable-hover.ui-droppable-active,
.ui-droppable.active {
  -webkit-box-shadow: 0 0 9px rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 9px rgba(0, 123, 255, 0.25);
}

.ui-droppable.active .ui-widget-content.draggable-item {
  margin: 0;
}

.ui-droppable.active .ui-widget-content.draggable-item p {
  display: none;
}

.ui-droppable.active .ui-widget-content.draggable-item::before {
  width: 58px;
  height: 58px;
}
